[submodule "libs/glad-rf"]
	path = libs/glad-rf
	url = https://github.com/rfmineguy/glad-rf
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://github.com/freetype/freetype.git
